{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous"/>
</head>
<body class="container">
  <h1 class="display4 text-primary">{{ title }}</h1>
  <p>{{ message|safe }}</p>
  <ol class="list-group">
    {% for item in form %}
    <li class="list-group-item py-2">
      {{ item.name }} ({{ item.value }}):{{ item.errors.as_text }}
    </li>
    {% endfor %}
  </ol>
  <table class="table mt-4">
    <form action="{% url 'check' %}" method="post">
      {% csrf_token %}
      <tr><th>名前</th><td>{{ form.name }}</td></tr>
      <tr><th>メール</th><td>{{ form.mail }}</td></tr>
      <tr><th>性別</th><td>{{ form.gender }}</td></tr>
      <tr><th>年齢</th><td>{{ form.age }}</td></tr>
      <tr><th>誕生日</th><td>{{ form.birthday }}</td></tr>
      <tr><td></td><td>
        <input type="submit" value="click" class="btn btn-primary">
      </td></tr>
    </form>
  </table>
</body>
</html>