{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous"/>
</head>
<body class="container">
  <h1 class="display-4 text-primary"> {{ title }}</h1>
  <p>※以下のレコードを削除します。</p>
  <table class="table">
    <tr><th>ID</th><td>{{ obj.id }}</td></tr>
    <tr><th>Name</th>><td>{{ obj.name }}</td></tr>
    <tr><th>Gender</th>
      <td>
        {% if obj.gender == False %}male{% endif %}
        {% if obj.gender == True %}Female{% endif %}
      </td>
    </tr>
    <tr><th>Email</th><td>{{ obj.mail }}</td></tr>
    <tr><th>Age</th><td>{{ obj.age }}</td></tr>
    <tr><th>Birth</th><td>{{ obj.birthday }}</td></tr>
    <form action="{% url 'delete' id %}" method="post">
      {% csrf_token %}
      <tr><th><td><input type="submit" value="click" class="btn btn-primary"></td></th></tr>
    </form>
  </table>
</body>
</html>