{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous"/>
</head>
<body class="container">
  <h1 class="display-4 text-primary">Friends List</h1>
  <table class="table">
    <tr>
      <th>id</th>
      <th>name</th>
      <th></th>
    </tr>
  {% for item in object_list %}
    <tr>
      <th>{{ item.id }}</th>
      <td>{{ item.name }}</td>
      <td><a href="/hello/detail/{{item.id}}">detail</a></td>
    </tr>
  {% endfor %}
  </table>
</body>
</html>